.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 271px;
	width: 271px;
	position: relative;
	cursor: pointer;
}

.itemName {
	width: 100%;
	text-align: center;
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
}
