.nav {
	width: 320px;
}

.ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.li {
	height: 64px;
	display: flex;
	align-items: center;
}

.link {
	color: #8585ad;
	margin: 0;
	text-decoration: none;
	font-family: "Jet Brains Mono";
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
}

.link:hover {
	opacity: 0.6;
}

.linkActive {
	color: #fff;
}

.active {
	color: #fff;
}
