.container {
	width: 600px;
	height: 100%;
	max-height: 68vh;
}

.orderTotal {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
}

.currencyIcon {
	width: "36px";
	height: "36px";
}

.bun {
	margin-right: 12px;
}

.onHover {
	border: 1px solid #8b36db;
	border-radius: 30px;
	box-shadow: 0px 4px 25px 0px #8b36db;
	padding-bottom: 30px;
}
